<fieldset class="widget widget_<%= widget[:name] %>">
  <legend><%= t "dashboard_controller.widgets.#{widget[:name]}" %></legend>
  <div class="content">
    <%= render :partial => "widget_#{widget[:view] || widget[:name]}", :locals => widget %>
  </div>
</fieldset>