<ul>
  <% issues.each do |issue| %>
    <li><%= link_to "View ##{issue.id}", game_issue_path(issue.game, issue, anchor: "comment_#{issue.comments.last.id}"), title: "For game #{issue.game.name}" %> commented <%= timeago(issue.comments.last.created_at) %></li>
  <% end %>
</ul>