<%= field_set_tag t("dashboard_controller.widgets.#{widget[:name]}"), class: "widget widget_#{widget[:name]}", data:{widget:widget[:name]} do %>
  <div class="content">
    <%= render :partial => "widget_#{widget[:view] || widget[:name]}", :locals => widget %>
  </div>
<% end %>