<p><time class="timeago" datetime="2012-09-04T20:00:00Z" title="September 4th"></time>
  Added some more dashboard widgets and am working toward customizing your own dashboard.
</p>

<p><time class="timeago" datetime="2012-08-20T00:32:00Z" title="August 19th"></time>
  Welcome to HumbleBugs, the Humble Bundle bug tracking system.
  For a list of upcoming features see the <a href="https://www.pivotaltracker.com/projects/487873" target="_blank">pivotal tracker</a>.
</p>