<div class="dashboard_column">
  <%= render partial: 'widget', collection: @column1 %>
</div>
<div class="dashboard_column">
  <%= render partial: 'widget', collection: @column2 %>
</div>
<div class="dashboard_column">
  <%= render partial: 'widget', collection: @column3 %>
</div>
