<fieldset>
  <legend>Comments</legend>
  <div id="comments">
    <%= render commentable.comments %>
  </div>
  <%= button_to 'New Comment', new_polymorphic_path([commentable, Comment.new]), method: "get", remote: true %>
</fieldset>