$("<div id=\"comments_dialog\"><%= escape_javascript render 'form' %></div>").dialog({
    modal:true,
    title:'New Comment',
    width: '40em',
    close:function () {
        $(this).remove();
    }
});