<% if !defined? show_game then show_game = false end %>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <% if show_game %>
      <th>Game</th>
    <% end %>
    <th>Status</th>
    <th>Description</th>
  </tr>
  </thead>

  <% issues.each do |issue| %>
    <tr class="issue">
      <td><%= link_to "##{issue.id}", [issue.game, issue] %></td>
      <% if show_game %>
        <td><%= issue.game.name %></td>
      <% end %>
      <td><%= label_for Issue::STATUSES, issue.status %></td>
      <td><%= issue.description %></td>
    </tr>
  <% end %>
</table>