<%= form_tag forgot_password_path, :method => :post, :class => :login_form do %>
    <fieldset>
      <legend>Forgot Password</legend>
      <div class="field">
        <%= label_tag :email %>
        <%= text_field_tag :email, params[:email] %>
      </div>
      <div class="actions"><%= submit_tag "Reset Password" %></div>
    </fieldset>
<% end %>