<fieldset>
  <legend>User details</legend>
  <p>
    <b>Email:</b>
    <%= @user.email %>
  </p>

  <p>
    <b>Name:</b>
    <%= @user.name %>
  </p>

  <%= link_to 'Edit', edit_user_path(@user) if permitted_to? :edit %> |
  <%= link_to 'Back', users_path %>
</fieldset>
