<table>
  <tr>
    <th>Name</th>
    <th>State</th>
    <th></th>
  </tr>

  <% games.each do |game| %>
    <tr class="game">
      <td><%= link_to game.name, game %></td>
      <td><%= label_for Game::STATES, game.state %></td>
      <td><%= link_to "Report Issue", new_game_issue_path(game) if permitted_to? :create, game.issues %></td>
    </tr>
  <% end %>
</table>