<fieldset>
  <legend>Bundles</legend>
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Target date</th>
      <th>Description</th>
      <th>State</th>
    </tr>
    </thead>

    <% @bundles.each do |bundle| %>
        <tr class="bundle">
          <td><%= link_to bundle.name, bundle %></td>
          <td><%= timeago bundle.target_date if bundle.target_date.present? %></td>
          <td><%= bundle.description %></td>
          <td><%= label_for Types::Bundle::STATES, bundle.state %></td>
        </tr>
    <% end %>
  </table>
</fieldset>
