<h1>Listing systems</h1>

<%= render :partial => 'systems', :locals => { :systems => @systems } %>

<br />

<%= link_to 'New System', new_user_system_path(@user), class: 'button' if permitted_to? :create %>
