@import "base";

fieldset.game_controller {
  div.details {
    @include container;
    > div {
      @include column($blueprint-grid-columns / 4);
      margin-bottom: 1em;
      &.state {
        @include column($blueprint-grid-columns / 4 - 2);
      }
      &.bundle {
        @include column($blueprint-grid-columns / 4 + 2);
        @include last;
      }
      &.description {
        @include column($blueprint-grid-columns / 3 * 2);
        @include description;
      }
      &.platforms {
        @include column($blueprint-grid-columns / 3, true);
      }
    }
  }
  fieldset.ports {
    width: 70%;
    @include fieldset-tint($secondary-form-color, $secondary-legend-color);
  }
}

#game_releases {
  tr.status_obsolete {
    text-decoration: line-through;
    opacity: 0.6;
  }
  tr.status_retired {
    text-decoration: line-through;
    opacity: 0.6;
    color: red;
  }
  tr.spacer {
    td {
      height: 4px;
      padding: 0;
      background-color: $form-color;
    }
  }
  tr.detail {
    div {
      padding: 0 1ex;
    }
    table {
      @include border-radius;
      @include table-tint($secondary-form-color, $secondary-legend-color);
    }
  }
}