@import "base";

fieldset.issue_controller {
  div.details {
    @include container;
    > div {
      @include column($blueprint-grid-columns / 4);
      margin-bottom: 1em;
      &.platforms {
        @include column($blueprint-grid-columns / 4 * 2);
        @include last;
      }
      &.summary {
        @include column($blueprint-grid-columns);
      }
      &.description {
        @include column($blueprint-grid-columns);
        @include last;
        > div {
          margin: 0;
          max-height: 30em;
          white-space: pre-wrap;
          overflow: auto;
        }
      }
    }
  }
}