$blueprint-liquid-container-width: 100%;

$bg-color: hsl(0,0%,93%);
$tab-color: adjust-lightness($bg-color,-20%);
$legend-color: adjust-lightness($bg-color, -15%);
$form-color: adjust-lightness($bg-color, -10%);

$secondary-bg-color: hsl(90, 20%, 93%);
$secondary-legend-color: adjust-lightness($secondary-bg-color, -15%);
$secondary-form-color: adjust-lightness($secondary-bg-color, -10%);

$primary-button-base-color: #007f11;
$primary-button-highlight-color: lighten($primary-button-base-color, 15%);
$primary-button-shadow-color: saturate($primary-button-base-color, 50%);

$secondary-button-base-color: #0064cd;
$secondary-button-highlight-color: #049cdb;
$secondary-button-shadow-color: #003f81;


$error-color: #cc0000;


$blueprint-table-header-color: #cccccc;
