@mixin fieldset-tint($main-color, $legend-color) {
  legend {
    background-color: $legend-color;
    @include background(linear-gradient(adjust-lightness($legend-color,15%), $legend-color));
    @include box-shadow($legend-color 0px 0px 4px 2px);
  }
  background-color: $main-color;
  @include background(linear-gradient(adjust-lightness($main-color,15%), $main-color));
}

@mixin table_tint($main-color, $heading-color) {
  thead th {
    background-color: $heading-color;
    @include background(linear-gradient(adjust-lightness($heading-color,15%), $heading-color));
  }
  background-color: $main-color;
  @include background(linear-gradient(adjust-lightness($main-color,15%), $main-color));
}

@mixin description {
  > div {
    margin: 0;
    max-height: 30em;
    white-space: pre-wrap;
    overflow: auto;
  }
}

@import "compass/layout/grid-background";

@mixin flexible-grid-background {
  @include grid-background(
    $total    : $blueprint-grid-columns,
    $column   : $blueprint-liquid-grid-width,
    $gutter   : $blueprint-liquid-grid-margin,
    $baseline : $blueprint-font-size * 1.5,
    $offset   : 0
  );
}