@import "blueprint/reset";
@import "blueprint";
@import "blueprint/liquid";
@import "blueprint/fancy-type";
@import "compass/typography";
@import "compass/css3";

$bg-color: hsl(0,0%,93%);
$tab-color: adjust-lightness($bg-color,-20%);
$legend-color: hsl(0, 0%, 80%);
//$legend-color: hsl(240, 70%, 70%);


body {
  background-color: $bg-color;
}

@include blueprint-typography;

a {
  @include hover-link;
}

#container {
  @include container;

  width: 100%;
}

header {
  @include column($blueprint-grid-columns);
  border-bottom: 2px solid $tab-color;
  @include box-shadow(rgba(black, 0.5) 0 5px 3px -3px);

  #logo {
    h1 {
      $header-color: hsl(0,0%,13%);
      @include alt;
      padding: 1ex;
      font-size: 3em;
      margin-bottom: 0px;
      font-weight: bold;
      color: $header-color;
      @include text-shadow(rgba($header-color, 0.3) 4px 4px 2px);
    }
    @include column(floor($blueprint-grid-columns / 3 * 2));
  }

  #user-nav {
    div {
      padding: 1ex;
    }
    @include column(floor($blueprint-grid-columns / 3));
    @include last;
    @include background(linear-gradient($bg-color, adjust-lightness($bg-color,-20%)));
    @include border-bottom-left-radius(1em);
    @include box-shadow(rgba(black, 0.5) -1px 1px 3px 0px);
  }

  #app-nav {
    @include column($blueprint-grid-columns - 2);
    @include prepend(1);
    ul {
      @include horizontal-list;
      padding: 1ex 0 0 1ex;
      li {
        @include border-top-radius(1ex);
        @include background(linear-gradient(adjust-lightness($tab-color, 15%), $tab-color));
        padding: 0 1ex !important;
        margin-right: 1ex;
        @include box-shadow(
          rgba(black, 0.3) -3px 0px 2px 0px,
          rgba(black, 0.3) 0px -3px 2px 0px,
          rgba(black, 0.3) 3px 0px 2px 0px
        );
        &.selected {
          $tab-select-color: hsl(0,80%,50%);
          @include box-shadow(
            rgba($tab-select-color, 0.3) -3px 0px 2px 0px,
            rgba($tab-select-color, 0.3) 0px -3px 2px 0px,
            rgba($tab-select-color, 0.3) 3px 0px 2px 0px
          );
        }
      }
    }
  }

  #flash {
    display: none;
    .info {
      @include info;
    }
    .alert {
      @include error;
    }
  }
}

footer {
  @include column($blueprint-grid-columns);

}

#content {
  @include column($blueprint-grid-columns);
  .login_form {
    @include column($blueprint-grid-columns / 3);
    @include prepend($blueprint-grid-columns / 3);
  }
}

form {
  @include blueprint-form;
  fieldset {
    legend {
      position: absolute;
      left: 1ex;
      top: -0.8em;
      background-color: $legend-color;
      @include background(linear-gradient(adjust-lightness($legend-color,15%), $legend-color));
      padding: 0 1ex;
      @include border-radius(0.5ex);
      @include box-shadow($legend-color 2px 2px 4px 0px);
    }
    position: relative;
    margin-top: 1.5em;
    @include border-radius(1ex);
    @include box-shadow(black -5px 5px 4px -4px);
  }
}
form.inline {
  @include blueprint-inline-form;
}