@import "blueprint/reset";
@import "blueprint";
@import "blueprint/liquid";
@import "blueprint/fancy-type";
@import "compass/typography";
@import "compass/css3";

body {
  background-color: #ECECEC;
}

@include blueprint-typography;

a {
  @include hover-link;
}

#container {
  @include container;

  width: 100%;
}

header {
  @include column($blueprint-grid-columns);
  border-bottom: 4px solid #bbbbbb;
  @include box-shadow(rgba(black, 0.5) 0 2px 3px 0);

  #logo {
    div {
      padding: 1ex;
    }
    font-size: 2em;
    @include alt;
    @include column(floor($blueprint-grid-columns / 3 * 2));
  }

  #user-nav {
    div {
      padding: 1ex;
    }
    @include column(floor($blueprint-grid-columns / 3));
    @include last;
    @include background(linear-gradient(#eeeeee, #bbbbbb));
    @include border-bottom-left-radius(1em);
    @include box-shadow(rgba(black, 0.5) -1px 1px 3px 0px);
  }

  #app-nav {
    @include column($blueprint-grid-columns);
    ul {
      @include horizontal-list;
    }
  }

  #flash {
    display: none;
    .info {
      @include info;
    }
    .alert {
      @include error;
    }
  }
}

footer {
  @include column($blueprint-grid-columns);

}

#content {
  @include column($blueprint-grid-columns);
  .login_form {
    @include column($blueprint-grid-columns / 3);
    @include prepend($blueprint-grid-columns / 3);
  }
}

form {
  @include blueprint-form;
  fieldset {
    $legend-color: hsl(0, 0%, 80%);
    //$legend-color: hsl(240, 70%, 70%);
    legend {
      position: absolute;
      left: 1ex;
      top: -0.8em;
      background-color: $legend-color;
      @include background(linear-gradient(adjust-lightness($legend-color,15%), $legend-color));
      padding: 0 1ex;
      @include border-radius(0.5ex);
      @include box-shadow($legend-color 2px 2px 4px 0px);
    }
    position: relative;
    margin-top: 1.5em;
    @include border-radius(1ex);
    @include box-shadow(black -5px 5px 4px -4px);
  }
}
form.inline {
  @include blueprint-inline-form;
}