<h1>Listing releases</h1>

<%= render :partial => 'releases', :locals => { :releases => @game.releases } %>

<br />

<%= link_to 'New Release', new_game_release_path(@game), class: 'button' if permitted_to? :create, @game.releases %>
